################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet/GoodProgramming/.vs
/DotNet/GoodProgramming/bin/Debug/net7.0
/DotNet/GoodProgramming/obj
/DotNet/GoodProgrammingTests/bin/Debug/net7.0
/DotNet/GoodProgrammingTests/obj
/DotNet/Hello/bin/Debug/net7.0
/DotNet/Hello/obj
/DotNet/SqlInjection/bin/Debug/net7.0
/DotNet/SqlInjection/obj
/.vs
/DotNet/AspNetHello/.vscode
/DotNet/AspNetHello/bin/Debug/net7.0
/DotNet/AspNetHello/obj
/DotNet/HelloWorld/.vscode
/DotNet/HelloWorld/bin/Debug/net7.0
/DotNet/HelloWorld/obj
/DotNet/ObjectDemo/.vscode
/DotNet/ObjectDemo/obj
/DotNet/GoodProgrammingTests/bin/Release/net7.0
/DotNet/ObjectDemo/bin/Debug/net7.0
/DotNet/SumOfNumbers/.vs/SumOfNumbers
/DotNet/SumOfNumbers/SumOfNumbers/bin/Debug/net7.0
/DotNet/SumOfNumbers/SumOfNumbers/obj
/DotNet/StringManipulation/.vs/StringManipulation
/DotNet/StringManipulation/StringManipulation/bin/Debug/net7.0
/DotNet/StringManipulation/StringManipulation/obj
/DotNet/SumOfNumbers/.vs/ProjectEvaluation
/DotNet/AspNetMvcCalculator/.vs/AspNetMvcCalculator
/DotNet/AspNetMvcCalculator/AspNetMvcCalculator/bin/Debug/net7.0
/DotNet/AspNetMvcCalculator/AspNetMvcCalculator/obj
/DotNet/StringManipulation/.vs/ProjectEvaluation
/DotNet/AspNetMvcCalculator/.vs/ProjectEvaluation
/DotNet/AspNetMvcUserTable/.vs/AspNetMvcUserTable
/DotNet/AspNetMvcUserTable/AspNetMvcUserTable/bin/Debug/net7.0
/DotNet/AspNetMvcUserTable/AspNetMvcUserTable/obj
/DotNet/AspNetMvcFormSubmit/.vs/AspNetMvcFormSubmit
/DotNet/AspNetMvcFormSubmit/AspNetMvcFormSubmit/bin/Debug/net7.0
/DotNet/AspNetMvcFormSubmit/AspNetMvcFormSubmit/obj
/DotNet/AspNetMvcUserTable/.vs/ProjectEvaluation
/DotNet/AspNetMvcFormSubmit/.vs/ProjectEvaluation
/DotNet/NorthwindDemo/.vs/NorthwindDemo
/DotNet/NorthwindDemo/NorthwindDemo/bin/Debug/net7.0
/DotNet/NorthwindDemo/NorthwindDemo/obj
/DotNet/EntityDemo1/bin/Debug/net7.0
/DotNet/EntityDemo2/.vs/EntityDemo2
/DotNet/EntityDemo2/EntityDemo2/bin/Debug/net7.0
/DotNet/EntityDemo2/EntityDemo2/obj
/DotNet/NorthwindDemo/.vs/ProjectEvaluation
/DotNet/EntityDemo1/obj
