<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://developeracademy.documents.azure.com:443/" />
    <add key="PrimaryKey" value="anVoQczyuCH2Gg16aUAHTTKPObRlpFBw4q66bK8fz9OjSZWqZ5zZpSQ7btU24y64m1LmCSjVdRDVACDbEfu2vw==" />
  </appSettings>
</configuration>