@model FormDemoData
@{
    ViewData["Title"] = "Home Page";
}

<h1>Thank you!</h1>

<p>Your details have been successfully submitted.</p>

<h2>Data submitted</h2>
<p>Username: @Model.UserName</p>
<p>Email: @Model.UserEmail</p>
