@{
    ViewData["Title"] = "Home Page";
}

<h1>Form Demo Page</h1>

<form method="post" action="/Home/FormDemo">
    <p>Please enter user name:</p>
    <p><input name="userName" type="text" class="form-control w-25" /></p>

    <p>Please enter email address:</p>
    <p><input name="userEmail" type="email" class="form-control w-25" /></p>

    <button class="btn btn-primary" type="submit">Submit data</button>
</form>
